$transparent: trasparent;
$blue: #07A2FD;
$green: #46CDAC;
$orange: #FEBF36;
$red: #FE4573;
$white: #ffffff;
$gray: #ADA996;
$dialogBackground: rgba(0,0,0,0.5);
$backgroundGradient: linear-gradient(#ADA996,#F2F2F2,#DBDBDB,#EAEAEA)

